
################################################################################################
###   IDEs  ------------------------------------------------------------------------------------

.fleet
.idea
.run
*.iml
*.ipr
.vscode

################################################################################################
###   Common/Shared: Git, Log-s, Tmp -----------------------------------------------------------

.git
*.log
*.tmp

################################################################################################
###   Common/Shared: Other ---------------------------------------------------------------------

.directory
.lock.*
.~lock.*
.sync
